@charset "UTF-8";

body {
    font-family: 'Nanum Gothic', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh; /* 화면 전체 높이 */
    background-color: #DDDD;
    margin: 0;
    padding: 0;
}

.g_goback {
    text-align: left;
}

.g_goback .goback-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit; /* 부모 요소의 색상 상속 */
}
  
.g_goback .goback-icon {
    width: 1.5vw;  /* 아이콘의 너비 */
    height: 5vh; /* 아이콘의 높이 */
    color: #27344a;
}

@keyframes validation_blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

.validation {
    text-align: left;
    font-size: 0.8vw;
    padding-left: 1vw;
    color:#d1180b;
    animation: validation_blink 1s linear 3; /* 1초 간격으로 깜빡임 */
    animation-fill-mode: none; /* 애니메이션이 끝난 후 마지막 상태를 유지 */
}